@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap');

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}



body{
    background-color:#1A1A1A;
    font-family: "Urbanist";
}
header{
  display: flex;
}
.toplink{
  flex: 2 10 auto;

}
.toplink1{
  text-decoration: none;
  color: #2D714A;
  flex: 1 10 auto;
  text-align: center;
  text-transform: uppercase;
  /*margin:  auto 0 auto 0;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  position: relative;
  background: linear-gradient(to bottom, transparent 65%, #4E996D 10%) no-repeat center left/0 100%;
  transition: background-size 0.2s ease;
}

.toplink1:hover {
  color: #DDDDDD;
  background-size: 100% 100%;
}

  #article1{
    font-size: 23px;
    background-color: #1A1A1A;
    color: #DDDDDD;
    padding-top: 75px;
    padding-left: 75px;
    padding-right: 75px;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  #article2{
    background-color: #DDDDDD;
  
  }



  #imgreseau{
padding-left: 5px;
width: 15%;
  }

  #imgreseau:hover{
    transition: transform 0.2s;
    transform: scale(1.25);

  }

  #p1{
   /*padding: 35px;*/padding-bottom: 15px;
   text-align: justify;
  }

  #p2{
    font-size: 23px;
    background-color: #1A1A1A;
    color: #fff;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 5px;
    height: 115px;
  }

  #p3{
    font-size: 23px;
    background-color: #4E996D;
    color: #1A1A1A;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 5px;
    padding:15px ;
  }

  #carrep1{
    float: left;
    padding-right: 50px;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }
  .box2 {
    display: flex;
  }

  .one {
    flex: 1 1 auto;
    background-color: #1A1A1A;
  }

  .two {
    flex: 0.5 1 auto;
    background-color: #DDDDDD;
    text-align: center;
    color: black ;
    font-weight:bolder;
    font-size: 30px;
    padding: 5px 5px 0px;
  }

  .one1 {
    flex: 1 1 auto;
    background-color: #DDDDDD;
  }

  .two1 {
    flex: 0.5 1 auto;
    background-color: #1A1A1A;
    text-align: center;
    color: #fff ;
    font-weight:bolder;
    font-size: 30px;
    padding: 5px 5px 0px;
  }

  .one2 {
    flex: 1 1 auto;
    background-color: #2D714A;
  }

.twop2>iframe{
    width: 80%;
    height: 800px;
}

  .two2 {
    width: auto;
    flex: 0.5 1 auto;
    background-color: #2D714A;
    text-align: center;
    color: #1A1A1A ;
    font-weight:bolder;
    font-size: 30px;
    padding: 5px 5px 0px;
  }

  .one3 {
    flex: 0.75 1 auto;
    background-color: #DDDDDD;
  }

  .two3 {
    flex: 1 1 auto;
    background-color: #DDDDDD;
    text-align: center;
    color: #1A1A1A ;
    font-weight:bolder;
    font-size: 15px;
    padding: 15px 0px 0px;
  }

  .photo1 {
    flex: 1 1 auto;
    text-align: center;
  }

  .photo2 {
    flex: 1 1 auto;
    text-align: center;
  }

  #presentation{
    border-radius: 50%;
    padding:10px 0px 10px
  }
  #souspresentation1{
    margin: 0 auto;
    width: 450px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
    }

    #souspresentation{
      margin: 0 auto;
      width: 450px;
      text-align: center;
      font-size: 25px;
      }

    #equipe{
      font-size: 35px;
      text-align: center;
    }

    #carrep2{
width: 80%;
    }
    #carrep2bis{
      width: 80%;
      float: right;
          }

    /*page 2*/


    .twop2 {
      flex: 4 1 auto;
      text-align: center;
      font-size: 30px;
    }


    #calendar{
      margin: 50px;
      display: flex;
      background-image: url(../img/bckgrd/feuillescolorehaut.png) ;
      background-repeat: no-repeat;
      background-size: 100%;
      background-color: #fff;
      font-weight: 600;
    }



    .wrapper {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    
    }

    #sidenav-container {
     width: 0px;
    }

    .three {
      grid-column: 1;
      grid-row: 1/2;
      font-size: 23px;
      background-color: #4E996D;
      color: #fff;
      padding: 50px 75px 10px;
      border-radius: 25px 0 0 0;
    }


    .four {
      grid-column: 2;
      grid-row: 1/2;
      font-size: 23px;
      background-color: #2D714A;
      color: #fff;
      padding: 50px 75px 10px;
      border-radius: 0 25px 0 0;
    }
    .five {
      grid-column: 1;
      grid-row: 4;
      font-size: 23px;
      background-color: #2D714A;
      color: #fff;
      padding: 50px 75px 10px;
      border-radius: 0 0 0 25px;
    }
    .six {
      grid-column: 2;
      grid-row: 4;
      font-size: 23px;
      background-color: #4E996D;
      color: #fff;
      padding: 50px 75px 10px;
      border-radius:0 0 25px 0;
    }



    .onep3>iframe {
      width: 100%;
    }


    .onep3 {
      flex: 4 4 auto;
      top: 10%;
      margin-top: 10%;
      padding-left: 5%;
      width: 100%;
      -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  
    .twop3 {
      flex: 1 4 auto;
      background-color: #4E996D;
      color: black ;
      font-size: 15px;
      margin: 50px;
      margin-top: 10%;
      padding-bottom: 5%;
      -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .gris{
      background-color: #DDDDDD;
      width: 90%;
      height: 15%;
      padding: 5%;
      font-size: 2em;
      text-transform: uppercase;
    }

.blanc{
  background-color: #fff;
}

    .aze{
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

    .ressoc{
      margin-left: 45%;
      margin-right: 44%;
      border-bottom: black 2px solid;
    }