@font-face{
    font-family: 'Urbanist';
    src: url(../Police/Oswald-Regular_titre.ttf) format(truetype);
}

body{
    background-color:#DDDDDD;
    font-family: "Urbanist";
}
/* (A) NAVIGATION BAR */
.ddmenu { display: flex; }
 
/* (B) FIRST LEVEL ITEMS */
.ddmenu a, .ddmenu .ddgroup {
  width: 100%;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  background: #4E996D;
}
.ddmenu a:hover, .ddmenu .ddgroup:hover {
  color: #DDDDDD;
  background: #2D714A;
  cursor: pointer;
}

.ddmenu .ddgroup { position: relative; }
.ddsub {
  width: 100%;
  position: absolute;
  top: 100%; left: 0;
  display: none;
}
.ddsub a { 
  display: block; 
  box-sizing: border-box;
}
.ddgroup:hover .ddsub { display: block; }

/* (D) DROPDOWN ARROW */
.ddgroup::after {
    content: "\27A4";
    position: absolute;
    top: 13px; right: 10px;
    transition: transform 0.2s;
  }
  .ddgroup:hover::after {
    transform: rotate(90deg);
  }

  /* (E) ON SMALL SCREENS */
@media screen and (max-width: 640px) {
    .ddmenu { flex-wrap: wrap; }
    .ddsub {
      position: static;
      margin-top: 10px;
    }
  }

  article{
    border-radius: 10px 100px / 120px;
    background-color: #2D714A;
    margin-top: 50px;
    padding: 50px;
    color: #fff;
  }

  #Présentation{

width: 80%;
margin-left: 10%;
background-color: #DDDDDD;
padding: 15px;
color:#2D714A ;
  }

